<html>
    <head>
        <meta charset="utf-8"/>
       
    </head>
    <body><!-- 

        {% for i in member_users %}
                    {{i}}
                {% endfor %}
 -->
       <!--  {{current_tb}} -->


        <h1><strong><u>{{current_tb.name}}</u></strong></h1>
        <table border="1" style="width:75%;border-collapse:collapse">
      <colgroup>
        <col></col>
        <col style="width:25%;text-align:center"></col>
        <col style="width:25%;text-align:center"></col>
      </colgroup>
      <tr>
    <th>Title</th>
    <th>Due date</th>
    <th>Completed</th>
    <th>Assigned to</th>
    </tr>

    
    {% for i in current_tb.tasks %}

    <tr>
        <td>{{ i.get().title }}</td>
        <td>{{ i.get().due_date }}</td>
        <td>
        <form method="post" action="/display?current_tb_key = {{current_tb_key}}" id = "form1">
        {% if i.get().checked == False %}
            <input type="checkbox" name="completed" value="{{ i.urlsafe() }}" onchange="this.form.submit()" /> {{i.get().completion_date}}
        {% else %}
              {{i.get().completion_date}}
        <input type="hidden" value="{{current_tb_key}}" name="current_tb_key"/>
        <input type="hidden" value="{{owner_user.urlsafe()}}" name="owner_user"/>
        </form>
        </td>
        {% endif %}    
        {% if i.get().assigned_to != None %}
        <td>{{ i.get().assigned_to.get().email_address }}</td>
        {% else %}
        <td>None</td>
        {% endif %}
        <td border=0><form method="post" action="/display?current_tb_key = {{current_tb_key}}&task_key = {{i.urlsafe()}}" id = "form2">
            <input type="hidden" value="{{i.urlsafe()}}" name="task_key"/>
            
            <input type="submit" value="Delete" name="button"/>
            <input type="hidden" value="{{current_tb_key}}" name="current_tb_key"/>
            <input type="hidden" value="{{owner_user.urlsafe()}}" name="owner_user"/>
        </form>
        </td>
        <td border=0><form method="post" action="/edit?current_tb_key = {{current_tb_key}}" id = "form2">
            <input type="hidden" value="{{i.urlsafe()}}" name="task_key"/>
           
           <input type="submit" value="Edit" name="button"/> 
           <input type="hidden" value="{{current_tb_key}}" name="current_tb_key"/>
            <input type="hidden" value="{{owner_user.urlsafe()}}" name="owner_user"/>
        </form>
        </td>

    </tr>
         
    {% endfor %}

   

    <!-- <tr>
    {% for i in current_tb.tasks %}
        <td>{{ i.get().due_date }}</td>
        {% endfor %}
    </tr>
    <tr>
    {% for i in current_tb.tasks %}
        <td>{{ i.get().due_date }}</td>
        {% endfor %}
    </tr> -->

    </table>
      <br/> 
      <form method="post" action="/display">
            <h3>Add a task to the board </h3>
            
            Title: <br/><input type="text" name="title" value="" required style="margin-left: :5px" />
            <br/>

            Due date: <br/> <input type="date" name="due_date" value="" required style="margin-top: :100px" />
            <br/>
            <br/>
             <label for="assign_user"><b>Assign the task for a user:</b></label>
              <select id="userform" name="assign_user" >
                <option value="None">None</option>
                <option value="{{owner_user.urlsafe()}}">{{ owner_user.get().email_address }}</option>
                {% for i in member_users %}

                    <option value="{{ i.key.urlsafe()}}">{{ i.email_address }}</option>
                 
                {% endfor %}
                </select>
                
            
                   
            <br/>
            <br/>
            <input type="hidden" value="{{owner_user.urlsafe()}}" name="owner_user"/>
            <input type="hidden" value="{{current_tb_key}}" name="current_tb_key"/>
            <input type="submit" value="Add" name="button"/>
            <input type="submit" value="Cancel" name="button"/>
        </form>
        {% if msg %}
        {{msg}}
        {% endif %}
        <br/>

         <form method="post" action="/display">
            <h3>Rename the Task Board:</h3><input type="text" name="Name" value="" required style="margin-left: :5px" />
            
            <br/>
            <br/>
            <input type="hidden" value="{{owner_user.urlsafe()}}" name="owner_user"/>
            <input type="hidden" value="{{current_tb_key}}" name="current_tb_key"/>
            <input type="submit" value="Rename" name="button"/>
            <input type="submit" value="Cancel" name="button"/>
        </form>
            
                
            
                   

     
      <br/>


      {% if user.email() == owner_user.get().email_address %} 
    <form method="post" action="/display">
   <input type="hidden" value="{{current_tb_key}}" name="current_tb_key"/>
    <label for="ivite_user"><b>Select an user to invite to the task board:</b></label>
      <select id="userform" name="added_user">
        {% for i in total_user %}
            {% if i.key != owner_user.get().key %}
            {% if i not in member_users%}
            <option value="{{ i.key.urlsafe()}}">{{ i.email_address }}</option>
            {% endif %}
            {% endif %}
        {% endfor %}
       </select>
      
      
      <input type="submit" value="Invite" name= "button"/>
    
    </form>
    {%endif %}
    
    </body>



</html>

           
            
    
        

            
            
        

       
            
