<html>
	<head>
		<meta charset="utf-8"/>
		<title>Task Management Sysytem</title>
	</head>
	<body>
		<h2>Task Management System</h2>
		{% if user %}
		<h3>{{ welcome }} {{ user.email() }}</h3>
		
		<form method="post" action="/">
            Create a new Task Borad: <br/><input type="text" name="taskboard_name" placeholder="Name" value="" required style="margin-left: :5px" />
            <br/>
            <br/>
            <input type="submit" value="Create" name="button"/>
        </form>
            
		<h4><strong><u>Task Boards </u></strong></h4>
		{% if taskBoards %}
	      {% for i in taskBoards %}
	        {% if i.creator.urlsafe() == myuser.key.urlsafe() %}
	       
	        <a href='/display?key_name={{i.key.urlsafe()}}'><p> &#8226; {{i.name}}</a><label style="color:#00FF00"> (Created)</label></p>
	        {% else %}

			<a href='/display?key_name={{i.key.urlsafe()}}'><p> &#8226; {{i.name}}</p></a>
			{% endif %}
			{% endfor %}
		{% else %}
		<p>No Task bords</p>
		{% endif %}
		
		{% else %}
		<h3>Hello guest welcome to the Task Management System</h3>
		{% endif %}
		<h4>You can {{ url_string }} <a href='{{ url }}'>here</a></h4>
		
	</body>
		

</html>

		


		
